<div class="login-wrapper">
    <div class="login-card">

        <!-- LEFT SIDE -->
        <div class="login-info">
            <h1>
                Welcome Back
                <span class="wave-hand">👋</span>
            </h1>
            <p>
                Sign in to continue to your dashboard and manage your application
                securely.
            </p>
            <div class="company-logo">
                <img src="../../../../assets/vn97.png"
                    alt="Company Logo" />
            </div>
        </div>

        <!-- RIGHT SIDE -->
        <div class="login-form">
            <h2>Login</h2>

            <form [formGroup]="loginForm" (ngSubmit)="submit()">
                <div class="field">
                    <label>Username</label>
                    <input type="text" placeholder="Enter username" formControlName="username" />
                </div>

                <div class="field">
                    <label>Password</label>
                    <input type="password" placeholder="Enter password" formControlName="password" />
                </div>

                <button type="submit" [disabled]="loading">
                    {{ loading ? 'Signing in...' : 'Sign In' }}
                </button>

                <p class="error" *ngIf="error">{{ error }}</p>
            </form>
        </div>

    </div>
</div>