<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Angular Login Dashboard</title>

  <!-- INTER FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="network-banner offline" *ngIf="!isOnline">
    ⚠️ No Internet Connection
  </div>
  <router-outlet></router-outlet>
</body>

</html>